.reveal section img.image {
  border: none;
  margin: 0;
  box-shadow: none;
  background: none; }
.reveal section img.svg-module {
  background: #fff;
  border: none;
  width: 400px;
  max-height: 1000px; }
.reveal .dark h1, .reveal .dark h2, .reveal .dark h3, .reveal .dark h4, .reveal .dark h5, .reveal .dark h6, .reveal .dark p, .reveal .dark div, .reveal .dark ul, .reveal .dark li {
  color: #FFF; }
.reveal blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0 1.5em 0.5em;
  quotes: "\201C" "\201D" "\2018" "\2019";
  width: auto;
  text-align: left; }
  .reveal blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: -0.4em;
    vertical-align: -0.4em; }

div.img-wrapper {
  position: relative; }
  div.img-wrapper > div.img-label {
    font-family: "Comic Sans MS";
    font-size: 24px;
    line-height: 1.1;
    position: absolute;
    width: 200px;
    margin-left: -100px; }

.enjoyment .enjoy-1 {
  top: 280px;
  left: 250px; }
.enjoyment .enjoy-2 {
  bottom: 30px;
  left: 400px; }
.enjoyment .enjoy-3 {
  top: 100px;
  left: 550px; }
.enjoyment .enjoy-4 {
  bottom: 50px;
  left: 700px; }
.enjoyment .enjoy-5 {
  top: 100px;
  right: -10px; }

div.mario-walk {
  height: 96px;
  width: 48px;
  background: url("../../images/mario-walk.gif") no-repeat scroll 0 0; }

.preferred-method {
  color: #228b22; }

.example-wrapper {
  position: relative;
  min-height: 100px;
  min-width: 100px; }

input[type="text"], input[type="number"] {
  height: 38px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  border-radius: 5px; }

table {
  max-width: 100%;
  background-color: white; }

th {
  text-align: left; }

.table {
  width: 100%;
  margin-bottom: 20px; }
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    padding: 10px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #bbbbbb; }
  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #bbbbbb; }
  .table > caption + thead > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > th,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  .table > tbody + tbody {
    border-top: 2px solid #bbbbbb; }
  .table .table {
    background-color: white; }

.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px; }

.table-bordered {
  border: 1px solid #bbbbbb; }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > th,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > th,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #bbbbbb; }
  .table-bordered > thead > tr > th,
 