.reveal section img.image {
  border: none;
  margin: 0;
  box-shadow: none;
  background: none; }
.reveal section img.svg-module {
  background: #fff;
  border: none;
  width: 400px;
  max-height: 1000px; }
.reveal .dark h1, .reveal .dark h2, .reveal .dark h3, .reveal .dark h4, .reveal .dark h5, .reveal .dark h6, .reveal .dark p, .reveal .dark div, .reveal .dark ul, .reveal .dark li {
  color: #FFF; }
.reveal blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0 1.5em 0.5em;
  quotes: "\201C" "\201D" "\2018" "\2019";
  width: auto;
  text-align: left; }
  .reveal blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: -0.4em;
    vertical-