/* Default Print Stylesheet Template
   by Rob Glazebrook of CSSnewbie.com
   Last Updated: June 4, 2008

   Feel free (nay, compelled) to edit, append, and
   manipulate this file as you see fit. */


/* SECTION 1: Set default width, margin, float, and
   background. This prevents elements from extending
   beyond the edge of the printed page, and prevents
   unnecessary background images from printing */
body {
	background: #fff;
	font-size: 13pt;
	width: auto;
	height: auto;
	border: 0;
	margin: 0 5%;
	padding: 0;
	float: none !important;
	overflow: visible;
}
html {
	background: #fff;
	width: auto;
	height: auto;
	overflow: vis