/* Default Print Stylesheet Template
   by Rob Glazebrook of CSSnewbie.com
   Last Updated: June 4, 2008

   Feel free (nay, compelled) to edit, append, and
   manipulate this file as you see fit. */


/* SECTION 1: Set default width, margin, float, and
   background. This prevents elements from extending
   beyond the edge of the printed page, and prevents
   unnecessary background images from printing */

* {
	-webkit-print-color-adjust: exact;
}

body {
	font-size: 18pt;
	width: 297mm;
	height: 229mm;
	margin: 0 auto !important;
	border: 0;
	padding: 0;
	float: none !